html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;

  /* padding-top: 80px;  */
  /* лучше использовать script для задавания паддинга при изменении высоты хедера */

  background-color: $primaryBgColor;
  color: $primaryTextColor;
  font-family: $mainFont;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.03em;
}

textarea {
  resize: none;
}

.link {
  color: $primaryTextColor;
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 94px;
  padding-bottom: 94px;
  /* outline: 1px solid black; */
}
